@import url('https://fonts.googleapis.com/css?family=Asap');
body {
	background-color: #311213;
}
h1 {
	font-size: 50px;
	font-family: sans-serif;
	color: #990000;
	text-align: center;
}
p {
	font-family: 'Asap';
	color: #deadd0;
}
.modal-body img {
	width: 100%;
}